# Dependency directories
node_modules
package-lock.json
bower_components

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Hugo-related outputs
public/
resources/

# Environment variables
.env
