<header class="bg-black text-customBlueLight">
    <div class="container mx-auto flex items-center justify-between p-4">
        <!-- Logo -->
        <a href="/" class="text-2xl font-bold">Risen Technologies</a>

        <!-- Navigation Links -->
        <nav class="hidden md:flex space-x-6">
            <a href="/" class="{{ if .IsHome }}underline font-bold{{ else }}hover:underline{{ end }}">Home</a>
            <a href="/services/" class="{{ if eq .RelPermalink "/services/" }}underline font-bold{{ else }}hover:underline{{ end }}">Services</a>
            <a href="/about/" class="{{ if eq .RelPermalink "/about/" }}underline font-bold{{ else }}hover:underline{{ end }}">About</a>
            <a href="/praise/" class="{{ if eq .RelPermalink "/praise/" }}underline font-bold{{ else }}hover:underline{{ end }}">Praise</a>
            <a href="/contact/" class="{{ if eq .RelPermalink "/contact/" }}underline font-bold{{ else }}hover:underline{{ end }}">Contact</a>
        </nav>

        <!-- Mobile Menu Button -->
        <button id="menu-toggle" class="block md:hidden">
            <svg
                class="w-6 h-6"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4 6h16M4 12h16m-7 6h7"
                ></path>
            </svg>
        </button>
    </div>

    <!-- Mobile Menu -->
    <div id="mobile-menu" class="hidden md:hidden bg-blue-700">
        <nav class="flex flex-col space-y-2 p-4">
            <a href="/" class="{{ if .IsHome }}underline font-bold{{ else }}hover:underline{{ end }}">Home</a>
            <a href="/services" class="{{ if eq .RelPermalink "/services/" }}underline font-bold{{ else }}hover:underline{{ end }}">Services</a>
            <a href="/about" class="{{ if eq .RelPermalink "/services/" }}underline font-bold{{ else }}hover:underline{{ end }}">About</a>
            <a href="/praise" class="{{ if eq .RelPermalink "/services/" }}underline font-bold{{ else }}hover:underline{{ end }}">Praise</a>
            <a href="/contact" class="{{ if eq .RelPermalink "/services/" }}underline font-bold{{ else }}hover:underline{{ end }}">Contact</a>
        </nav>
    </div>
</header>
